body {
    font-family: Arial;
    margin: 40px;
    background: #f4f4f4;
}

h1 {
    color: #333;
}

input, select, button {
    padding: 10px;
    margin: 5px;
}

table {
    border-collapse: collapse;
    width: 100%;
    background: white;
}

td, th {
    border: 1px solid #ccc;
    padding: 10px;
}

button {
    background: green;
    color: white;
    border: none;
}
